# JVM variables
JVM_MIN_MEMORY=2048m
JVM_MAX_MEMORY=4096m
JVM_TYPE=server

# Play variables
PLAY_HTTP_PORT=9000
PLAY_HTTP_ADDRESS=127.0.0.1
PLAY_CONFIG_FILE=/opt/stream/etc/stream.conf
PLAY_LOGGER_FILE=/opt/stream/etc/stream-logback.xml
PLAY_PID_FILE=/opt/stream/var/run/stream.pid
PLAY_HTTP_SECRET_KEY={{ play_http_secret_key  }}

# Mongo variables
MONGODB_URI="{{ mongodb_uri }}"

# stream variables
STREAM_HOSTNAME={{ stream_hostname_node }}
STREAM_EVENT_SEAL_SECRET={{ stream_event_seal_secret  }}
STREAM_ENFORCE_X509_AUTH=false

# Akka nodes for HA
# All HA nodes in hostname:port format, comma separated
AKKA_DISCOVERY_ENDPOINTS={{ stream_hostname_node1 }}:8558,{{ stream_hostname_node2 }}:8558,{{ stream_hostname_node3 }}:8558
# The index of this machine's node in the above list. Index starts at 0
AKKA_MANAGEMENT_LOCAL={{ node_number }}
# The port used for communication between nodes, in hostname:port format
AKKA_ARTERY={{ stream_hostname_node }}:25520

# x509 authentication header
CERTIFICATE_HEADER=SSL_CLIENT_CERT