127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
{{ stream_ip_node1 }} {{ stream_hostname_node1 }}
{{ stream_ip_node2 }} {{ stream_hostname_node2 }}
{{ stream_ip_node3 }} {{ stream_hostname_node3 }}
{{ mongodb_ip }} {{ mongodb_hostname }}