# Define custom configuration for play/akka/mongo/stream here
play.filters.hosts.allowed.4="{{ stream_hostname_node1 }}"
play.filters.hosts.allowed.5="{{ stream_hostname_node2 }}"
play.filters.hosts.allowed.6="{{ stream_hostname_node3 }}"
play.filters.hosts.allowed.7="{{ load_balancer_hostname }}"